<!-- list -->
<ul class="nav">
    <li ng-repeat="nav in navs">
        <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
           <!-- <i class="glyphicon glyphicon-th-large icon text-success"></i>-->
            <!--<i class="glyphicon glyphicon-stats "></i>-->
            <!--glyphicon glyphicon-th-->
            <i class="glyphicon icon text-primary-dker {{nav.icon}}"></i>
            <span class="font-bold">{{nav.text}}</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ng-repeat="n in nav.children" ui-sref-active="active">
                <a ui-sref="{{n.link}}">
                    <span>{{n.text}}</span>
                </a>
            </li>
        </ul>
    </li>

</ul>
<!-- / list -->